@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;scroll-behavior: smooth;
}

:root{
    --bg-color: #101114;
    --second-bg-color: #323946;
    --text-color: #fff;
    --main-color: rgb(174, 0, 255);
}

html{
    font-size: 85.5%;
    overflow-x: hidden;
}

/*começo home*/
.Bauer{
    height: 100vh;
    width: 100%;
    background: var(--bg-color);
    color: var(--text-color);
    background-size: cover;
    background-position: center;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 35px;
    padding-left: 4%;
    padding-right: 5%;
    background: var(--bg-color);
}

.logo{
    color: #fff;
    font-size: 35px;
    letter-spacing: 1px;
    cursor: pointer;
    padding-right: 492px;
}

span{
    color: var(--main-color);
}

nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
}

nav ul li a{
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
}

nav ul li a:hover{
    color: var(--main-color);
}

.content{
    padding-right: 90px;
    position: absolute;
    top: 35%;
    left: 8%;
}
.h1-home{
    color: #fff;
    margin: 20px 0px 20px;
    font-size: 75px;
    transition: 1s;
}

.h3-home{
    color: #fff;
    font-size: 17px;
    margin-bottom: 50px;
    transition: 1s;
}

.h4-home{
    color: var(--main-color);
    letter-spacing: 2px;
    font-size: 20px;
    transition: 1s;
}

.imagem-home{
    padding-left: 760px;
    padding-top: 120 px;
    position: relative;
    width: 100%;
    height: 100%;
}

.imagem-home img{
    position: relative;
    height: 95%;
    width: calc(130% - 10px);
    top: -20px;
    right: 90px;
    animation: animateUser 4s linear infinite;
}

@keyframes animateUser{
    50%{
        right: 60px;
        top: -27px;
    }
}

i{
    color: rgb(174, 0, 255);
    font-size: 27px;
}

/*fim home*/

/*começo sobre mim*/

.Sobre-mim{
    height: 92vh;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 2rem;
   background: var(--second-bg-color);
}
.imagem-about img{
    width: 35vw;
}

.sobre-mim-texto{
    text-align: left;
    line-height: 1.2;
}

.h2-about{
    text-align: center;
    font-size: 4.5rem;
}

.h3-about{
    font-size: 2rem;
    align-items: center;
    text-align: center;
}

.p-about{
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
}

.a-sobre-mim{
    display: inline-block;
    padding: 10px 20px;
    background: #fff;
    border-radius: 4px;
    text-decoration: none;
    color: #000;
    font-weight: 500;
    margin-top: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 2);
}


.social-media {
    display: flex;
    align-items: center;
    letter-spacing: 15px;
}

/*fim sobre mim*/

/*começo portfólios anteriores*/

.portfólios{
    height: 92vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background: var(--bg-color);
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.container .box{
    position: relative;
    width: 350px;
    padding: 40px;
    background: #fff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .1);
    border-radius: 4px;
    margin: 20px;
    box-sizing: border-box;
    overflow: hidden;
    text-align: center;
}

.container .box:before{
    content: '';
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    pointer-events: none;
}

.container .box .icon{
    position: relative;
    width: 80px;
    height: 80px;
    color: #fff;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border-radius: 50%;
    font-size: 40px;
    font-weight: 700px;
    transition: 1s;
}

.container .box:nth-child(1) .icon{
    box-shadow:  rgb(174, 0, 255);
    background:  rgb(174, 0, 255);
}

.container .box:nth-child(1):hover .icon{
    box-shadow: 0 0 0 400px  rgb(174, 0, 255);
}

.container .box:nth-child(2) .icon{
    box-shadow: 0 0 0 0 rgb(174, 0, 255);
    background: rgb(174, 0, 255);
}

.container .box:nth-child(2) .icon{
    box-shadow: 0 0 0 400px rgb(174, 0, 255);
}

.container .box .content2{
    position: relative;
    z-index: 1;
    transition: 0.5s;
}

.container .box:hover .content2{
    color: #fff;   
}

.container .box .content2 h3{
font-size: 20px;
margin: 10px 0;
padding: 0;
}

.container .box .content2 p{
    margin: 0;
    padding: 0;
}




/*fim portfólios anteriores*/